<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="SqlSAP" connectionString="Data Source=172.16.23.32;Initial Catalog=SBO_ASC_PROD;User ID=sa;Password=2019$#Sql%%asc" providerName="System.Data.SqlClient"/>
    <add name="SqlIntegrator" connectionString="Data Source=172.16.23.32;Initial Catalog=IntegratorSBO;User ID=sa;Password=2019$#Sql%%asc" providerName="System.Data.SqlClient"/>
    <add name="SqlCorridor" connectionString="Data Source=192.168.1.181\SQL2008R2;Initial Catalog=master ;User ID=sa;Password=Hawk3r2013!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="IvaNal" value="16.00|IVAA16"/>
    <add key="IvaInt" value="4.00|A2"/>
    <add key="IvaCero" value="IVAA00"/>

    <add key="IvaNalProv" value="16.00|IVAA16"/>
    <add key="IvaIntProv" value="4.00|V2"/>

    <add key="IvaNA" value="EX"/>

    <add key="IvaNalCXP" value="16|IVAT16" />
    <add key="IvaExCXP" value="IVAT00" />


    <add key="RFCGenericoE" value="XEXX010101000" />
    <add key="RFCGenericoN" value="XAXX010101000" />
    <add key="CuentaContable" value="110-007-001-000" />

  </appSettings>
</configuration>